<form action="<%=upvote_comment_url(comment)%>" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type="submit" value="u">
</form>
<%=votes_count%>
<form action="<%=downvote_comment_url(comment)%>" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type="submit" value="d">
</form>