<h1>All subs</h1>
<ul>
    <% @subs.each do |sub| %>
        <li><a href="<%=sub_path(sub)%>"><%=sub.title%></a>
            <ul>
                <li><%=sub.moderator.username%></li>
            </ul>
        </li>
    <%end%>
    current user is <%=current_user ? current_user.username : 'n/a'%>

    <form action="<%=new_sub_path%>" method="get">
        <input type="submit" value="create sub">
    </form>
</ul>