<h1><%=@sub.title%></h1>
<ul>
    <li>Created by: <%=@sub.moderator.username%></li>
    <li>Description: <%=@sub.description%></li>
</ul>

<section>
    Mods only:
    <form action="<%=edit_sub_path(@sub)%>" method="get">
        <input type="submit" value="Edit Sub">
    </form>
</section>

<section>
    <% @sub.all_posts.each do |post| %>
        <section>
            <h3><a href="<%=sub_post_path(@sub, post)%>"><%=post.title%></a></h3>
            <p><%=post.author.username%></p>
        </section>
    <% end %>
</section>

<section>
    <form action="<%=new_sub_post_path(@sub)%>" method="get">
        <input type="submit" value="New Post!">
    </form>
</section>

<section>
    <form action="<%=subs_path%>" method="get">
        <input type="submit" value="All Subs">
    </form>
</section>